@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-pumpkin: #d35400;
$color-pomegranate: #f39c12;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-pumpkin;
  font-family: $font-text;
  color: $color-light;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-light, 20%);
  }
}

a, a > * {
  text-decoration: none;
  color: $color-pomegranate;
  transition: all .4s ease;
}

a:hover, a:hover span {
  font-weight: 900;
}

/* Layout */

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px 50px;
}

// .sidebar {
//   flex: 1 0 0;
// }

// .posts {
//   flex: 2 0 0;
// }

.sidebar, .posts {
  background: $color-light;
  padding: 20px;
  border: 3px solid $color-pomegranate;
  margin-bottom: 20px;
  background-image: url("../images/pattern.png");
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-light;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* All posts */

.all-posts {
  transition: max-height 2s ease;
  max-height: 111px;

  .section-title {
    position: relative;
    line-height: 32px;
    display: inline-block;
  }

  .section-title::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -50px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid $color-light;
    border-bottom: 0px solid transparent;
    transition: all .4s ease;
  }

  .titles {
    overflow: hidden;
    transition: all 1s ease;
    opacity: 0;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      display: inline-block;
    }
  }

  &:hover {
    max-height: 999px;

    .titles {
      opacity: 1;
    }

    .section-title::after {
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 0px solid transparent;
      border-bottom: 16px solid $color-light;
    }
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.posts {
  position: relative;
  padding: 0;
  transition: all 2s ease;
}

.post {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px 40px;
  opacity: 0;
  z-index: -1;
  transition: all 2s ease;
  overflow: hidden;
  transform: scaleY(0);

  &.active {
    position: relative;
    opacity: 1;
    z-index: 1;
    transform: scaleY(1);
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

/* TESTING VARIABLE HEIGHT TRANSITION */

/* Video background */

#myVideo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0.44;
  z-index: -1;
}

/* Additionals */

.additionals {
  .tags {
    columns: 2;
  }
}

@media (min-width: 576px) {
  .all-posts .titles {
    columns: 2;
  }

  .additionals {
    .tags {
      columns: 4;
    }

    .authors {
      columns: 2;
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .all-posts {
    width: 33.33333%;
    max-height: 100%;

    .titles {
      columns: 1;
      opacity: 1;
    }

    .show-all::after {
      display: none;
    }
  }

  .posts {
    width: calc(66.66666% - 20px);
    margin-left: 20px;
  }

  .additionals {
    width: 100%;
    display: flex;

    .authors {
      columns: 2;
    }

    .tags-section {
      width: 60%;
    }

    .authors-section {
      width: 40%;
    }
  }
}

@media (min-width: 992px) {
  .all-posts, .additionals, .posts article {
    padding: 40px;
  }

  body {
    font-size: 18px;
  }

  .section-title {
    font-size: 26px;
  }

  .post-title {
    font-size: 22px;
  }

  .container {
    width: 100%;
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .wrapper {
    justify-content: space-between;
  }

  .all-posts {
    width: calc(25% - 10px);
  }

  .posts {
    width: calc(50% - 20px);
    margin-left: 0;
  }

  .additionals {
    width: calc(25% - 10px);
    flex-direction: column;

    .tags-section, .authors-section {
      width: 100%;
    }

    .tags {
      columns: 1;
    }

    .authors {
      columns: 1;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  .additionals .tags {
    columns: 2;
  }
}
